<div class="c-app">
  <h1><l10n [key]="'hello'"></l10n></h1>
  <nav>
    <a [routerLink]="['Home']"><l10n [key]="'home'"></l10n></a>
    <a [routerLink]="['Contact']"><l10n [key]="'contact'"></l10n></a>
  </nav>
  <div class="calibration"></div>
  <router-outlet></router-outlet>
  <div class="icon-download"></div>
  <footer></footer>
</div>
