/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$calibration-name: 'calibration';
$calibration-x: 0px;
$calibration-y: 0px;
$calibration-offset-x: 0px;
$calibration-offset-y: 0px;
$calibration-width: 190px;
$calibration-height: 344px;
$calibration-total-width: 210px;
$calibration-total-height: 344px;
$calibration-image: '../img/sprite.png';
$calibration: (0px, 0px, 0px, 0px, 190px, 344px, 210px, 344px, '../img/sprite.png', 'calibration', );
$download-name: 'download';
$download-x: 190px;
$download-y: 0px;
$download-offset-x: -190px;
$download-offset-y: 0px;
$download-width: 20px;
$download-height: 25px;
$download-total-width: 210px;
$download-total-height: 344px;
$download-image: '../img/sprite.png';
$download: (190px, 0px, -190px, 0px, 20px, 25px, 210px, 344px, '../img/sprite.png', 'download', );
$calibration-2x-name: 'calibration@2x';
$calibration-2x-x: 0px;
$calibration-2x-y: 0px;
$calibration-2x-offset-x: 0px;
$calibration-2x-offset-y: 0px;
$calibration-2x-width: 380px;
$calibration-2x-height: 688px;
$calibration-2x-total-width: 420px;
$calibration-2x-total-height: 688px;
$calibration-2x-image: '../img/sprite@2x.png';
$calibration-2x: (0px, 0px, 0px, 0px, 380px, 688px, 420px, 688px, '../img/sprite@2x.png', 'calibration@2x', );
$download-2x-name: 'download@2x';
$download-2x-x: 380px;
$download-2x-y: 0px;
$download-2x-offset-x: -380px;
$download-2x-offset-y: 0px;
$download-2x-width: 40px;
$download-2x-height: 50px;
$download-2x-total-width: 420px;
$download-2x-total-height: 688px;
$download-2x-image: '../img/sprite@2x.png';
$download-2x: (380px, 0px, -380px, 0px, 40px, 50px, 420px, 688px, '../img/sprite@2x.png', 'download@2x', );
$spritesheet-width: 210px;
$spritesheet-height: 344px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($calibration, $download, );
$spritesheet: (210px, 344px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 420px;
$retina-spritesheet-height: 688px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($calibration-2x, $download-2x, );
$retina-spritesheet: (420px, 688px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$calibration-group-name: 'calibration';
$calibration-group: ('calibration', $calibration, $calibration-2x, );
$download-group-name: 'download';
$download-group: ('download', $download, $download-2x, );
$retina-groups: ($calibration-group, $download-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
